.logo{
    width: 30px;
    margin:40px

}
@media only screen and (max-width: 600px){
    .logo{
        width: 30px;
        margin:30px
    
    }
}

.logo:hover{
    width:60px;
    cursor: pointer;
}
.skills-logo{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-heading{
    font-weight: bold;
}

.benefits{
    color:#6c63fe;
    font-weight: bold;
    margin-right: 16em;
    margin-bottom: 0px;
}

.hire{
    font-weight: bold;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.hire-desc{
    margin-left: 9.2em;
}
@media only screen and (max-width:600px) {
    .hire-desc{
        margin-left: .6em;
    }
}

.logo-skill{
    color:#6c63fe;
    margin-bottom: 0;
    
}


