.logo{
    width: 30px;
    margin:40px

}
@media only screen and (max-width: 600px){
    .logo{
        width: 30px;
        margin:30px
    
    }
}

.logo:hover{
    width:60px;
    cursor: pointer;
}
.skills-logo{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.test{
    display:flex;
    flex-direction:column;
    padding: 70px;
    
}

.skill-heading{
    font-weight: bold;
    
}

.benefits{
    color:#6c63fe;
    font-weight: bold;
    /* margin-right: 16em; */
    margin-bottom: 0px;
    text-align: justify;
}

.hire{
    font-weight: bold;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 5px;
    text-align: justify;
}
.skill-desc{
    text-align: justify;
    padding: 10px;
   
}

.hire-desc{
    font-size:18px;
    text-align: justify;
} 
 @media only screen and (max-width:600px) {
    
  
    .test{
        padding: 20px;
    }
}

.logo-skill{
    color:#6c63fe;
    margin-bottom: 0;
    
}


