

.name{
    font-weight: bolder;
    margin-top: 4em;
    padding-right: 100px;
}
.name-description{
    padding-right: 100px;
}

.club{
    font-weight: bold;
}

.about{
    font-weight: bolder;
    color:#6c63fe
}
