@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.heading{
    font-weight: bolder;
    color:#6c63fe;
    
}

.contact-img{
    width:700px
}

.subtitle{
    font-size: 15px;
    
    text-align: center;
}
.get{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    word-spacing: 8px;
    margin-bottom: 0;
    margin-top: 0;
}
@media only screen and (max-width: 600px){
    .contact-img{
        width:300px
    }
    .get{
        font-size: 30px;
    }
}