.arrowUp{
    color:#ffffff;
    position: relative;
    left:50%;
    background-color: #6c63fe;
    border-radius: 2px;
   
  }

  .footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .footer-logo-color{
    color:#6c63fe;
    margin:30px
  }
  
  .arrowUp:hover{
    color: #6c63fe;
    background-color: #ffffff;
    
  }

  
  