.arrowUp{
    color:#ffffff;
    position: relative;
    left:50%;
    background-color: #6c63fe;
    border-radius: 2px;
  }
  
  .arrowUp:hover{
    color: #6c63fe;
    background-color: #ffffff;
  }

  div{
      background-color: #f2f2f2;
  }
  